body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

.navbar {
  background-color: #1d428a;
  padding: 15px;
  text-align: center;
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

.team-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
